<div class="card border-success mb-3" style="max-width: 100%;">
    <div class="card-header bg-transparent border-success">
      
      <div class="row">
        <div class="col-md-6">  <strong class="float-left">{{title}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <span data-bs-toggle="modal" data-bs-target="#addModal" class="clickableItem">
           
            <i class="bi bi-plus-circle">Add</i></span>
        </div>
      </div>
    </div>
    <div class="card-body text-success">

        <div class="row">
            
            <div class="col-xs-12 col-12">
               <div class="content-wrapper">
                    <div class="col-md-3 align-right">
                    <input type="text" class="form-control" placeholder="search by name" [(ngModel)]="searchText.participant">
                    </div> 
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Serial No</th>
                            <!-- <th scope="col">Id</th> -->
                            <th scope="col">Participant</th>
                            <th scope="col">Angular</th>
                            <th scope="col">dot Net</th>
                            <th scope="col">Azure</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let data of listData | filterBy:searchText 
                          |  paginate: {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                            }
                          
                            ;let i=index ">  
                          <tr>
                            <th>{{i+1}}</th>
                            <!--<th scope="row" ><a class="" style="cursor:pointer">{{data.id}}</a></th>
                             <td><a routerLink="/book/{{book.id}}">{{book.name}}</a></td> -->
                            <td><a class="" style="cursor:pointer">{{data.participant }}</a></td>
                            <td>
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" [checked]="data.angular" [disabled]="true">
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                            </div>
                                
                            </td>
                            <td>
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" [checked]="data.dotNet" [disabled]="true" >
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                            </div>
                                  
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" [checked]="data.azure" [disabled]="true">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>
                                  
                            </td>
                            
                          </tr>
                        </ng-container> 
                          
                        
                        </tbody>
                      </table>
                      <div class="d-flex justify-content-center">
                        <pagination-controls
                          previousLabel="Prev"
                          nextLabel="Next"
                          (pageChange)="onTableDataChange($event)"
                        >
                        </pagination-controls>
                        <!-- <select class="" (change)="onTableSizeChange($event)">
                            <option *ngFor="let value of tableSizes">{{value}}</option>
                        </select> -->
                      </div>

                </div>
            </div>
        </div>
    </div>


    <!--  Add Modal -->

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addParticipantInterest(interestFrm)" #interestFrm="ngForm" id="interestForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Participant</label>
            <select class="form-control"
            name="participantId"
            [(ngModel)]="interestFrmData.participantId"
            >
              <option [value]="-1">Please select</option>
              <option *ngFor="let item of participantList" [value]="item.participantId">{{item.name}}</option>
            </select>
            
          </div>
          <div class="mb-3">
            <label>Please select your interest</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" [checked]="" name="angular" [(ngModel)]="interestFrmData.angular" >
              <label class="form-check-label" for="">Angular</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" [checked]="" name="dotNet" [(ngModel)]="interestFrmData.dotNet" >
            <label class="form-check-label" for="">.Net</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" [checked]="" name="azure" [(ngModel)]="interestFrmData.azure" >
          <label class="form-check-label" for="">Azure</label>
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="interestForm" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>