<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" routerLink="participant" routerLinkActive="active-link">Participant</a>
      <a class="nav-item nav-link" routerLink="participantList" routerLinkActive="active-link">ParticipantList</a>
      <a class="nav-item nav-link" routerLink="sessionType" routerLinkActive="active-link">Session Type</a>
      <a class="nav-item nav-link" routerLink="sessionParticipant" routerLinkActive="active-link">Session-Participant</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
